//-----------------------
// Search Error
//-----------------------

.search-error{
    max-width: 100%;

    margin: 100px auto;

    animation: fadeInFromNone 500ms ease-in-out;

    // Elements
    &__header{
        padding-bottom: 10px;

        color: #000;
        font-size: calc(1.3em + 1vw);
        font-weight: 100;
    }
}
