.stream{
    padding: 10px;

    &--offline{
        opacity: 0.8;
    }
    &--deleted{
        opacity: 0.4;
    }
}

.profile-image{

    display: inline-block;

    & img{
        width: 52px;
        height: 52px;

        border-radius: 50%;
    }
}

.profile-info{
    display: inline-block;

    margin-left: 14px;

    text-overflow: ellipsis;
    width: calc(100% - 75px);
    white-space: nowrap;
    overflow: hidden;

    // Online
    &__header-1{
        padding-bottom: 3px;

        color: #454545;
        font-size: 1.313rem;
    }

    &__header-2{
        padding-bottom: 2px;

        color: #454545;
        font-size: 1.063rem;;
    }

    &__header-3{
        color: #7A7A7A;
        font-size: 0.938rem;
    }
    // Offline

}
// .media {margin:10px;}
// .media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
// .media .img {float:left; margin-right: 10px;}
// .media .img img{display:block;}
// .media .imgExt{float:right; margin-left: 10px;}
