<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Twitch JSON API app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body>
        <h1>Featured Streams</h1>
        <div class="stream-list">

        </div>
        <!-- <div>
            <p>User: </p>
            <p>Game: </p>
            <p>Viewers: </p>
        </div> -->
        <!-- JS -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
